.hii{
    color:rgb(118, 5, 211) ;
    text-align: center;
    background-color: rgb(106, 235, 131);
    box-sizing: border-box;
    padding: 20px;
    margin: 20px;
    border: 2px solid blue;
}
.hey{
    color:rgb(118, 5, 211) ;
    text-align: center;
    background-color: rgb(106, 235, 131);
    box-sizing: border-box;
    padding: 20px;
    margin: 20px;
    border: 2px solid blue;
}